<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- 表示 -->
	<article th:fragment="show">
		<div class="card bg-body-tertiary">
			<div class="card-body">
				<div class="row card-title">
					<h6 class="col-auto me-auto" th:text="${comment.user.name}">
						投稿者名
					</h6>
					<small class="col-auto text-body-secondary"
					 	th:text="${#temporals.format(comment.postedAt, #locale)}"
					>
						投稿日時
					</small>
				</div>

				<p class="card-text" th:text="${comment.body}">
					コメント
				</p>

				<div class="row justify-content-end"
					sec:authorize="${isAuthenticated() && (#vars.comment.userId == principal.id)}"
				>
					<div class="col-auto">
						<button
							class="btn btn-outline-success btn-sm"
							hx:get="@{/comments/{id}/edit(id=${comment.id})}"
							hx-trigger="click"
							hx-target="closest .comment"
							th:text="#{comment.edit.btn}"
						>
							Edit
						</button>
						<button
							class="btn btn-outline-danger btn-sm"
							hx:delete="@{/comments/{id}(id=${comment.id})}"
							hx-include="#csrf-token"
							th:attr="hx-confirm=#{comment.delete.confirm}"
							hx-trigger="click"
							hx-target="#comment-list"
							hx-swap="outerHTML"
							th:text="#{comment.delete.btn}"
						>
							Delete
						</button>
					</div>
				</div>
			</div>
		</div>
	</article>

	<!--	 投稿フォーム -->
	<div th:fragment="create" class="card">
		<div class="card-body">
			<form method="post"
				th:action="@{/posts/{slug}/comments(slug=${post.slug})}"
				th:object="${commentForm}"
			>
				<textarea
					th:field="*{body}"
					class="form-control"
					th:errorclass="is-invalid"
					th:placeholder="#{comment.create.placeholder}"
				>
					コメント入力
				</textarea>
				<div class="invalid-feedback" th:errors="*{body}">
					バリデーションエラーメッセージ
				</div>
				<hr>
				<div class="text-end">
					<button class="btn btn-primary btn-sm" th:text="#{comment.create.btn}">
						投稿
					</button>
				</div>
			</form>
		</div>
	</div>

	<!-- 編集フォーム -->
	<article th:fragment="edit">
		<div class="card">
			<div class="card-body">
				<form
					hx:patch="@{/comments/{id}(id=${commentId})}"
					hx-target="closest .comment"
					hx-include="#csrf-token"
					th:object="${commentForm}"
				>
					<textarea
						th:field="*{body}"
						class="form-control"
						th:errorclass="is-invalid"
						th:placeholder="#{comment.create.placeholder}"
					>
						コメント
					</textarea>
					<div class="invalid-feedback" th:errors="*{body}">
						バリデーションエラーメッセージ
					</div>
					<hr>
					<div class="text-end">
						<button type="button"
							class="btn btn-secondary btn-sm"
							hx:get="@{/comments/{id}(id=${commentId})}"
							hx-trigger="click"
							hx-target="closest .comment"
							th:text="#{comment.cancel.btn}"
						>
							キャンセル
						</button>
						<button class="btn btn-primary btn-sm" th:text="#{comment.update.btn}">
							更新
						</button>
					</div>
				</form>
			</div>
		</div>
	</article>
</body>
</html>
