<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
</head>
<body>
	<div layout:fragment="content">

		<header class="p-5 text-center bg-primary-subtle">
			<h4 th:text="#{index.title}">
				ページタイトル
			</h4>

			<div class="mt-4 row justify-content-center g-2">
				<div class="dropdown col-sm-auto">
					<button type="button"
						class="btn btn-light dropdown-toggle w-100" 
						data-bs-toggle="dropdown" aria-expanded="false"
						th:text="${currentCategory} ?: #{category.search}"
					>
						カテゴリー選択
					</button>

					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item"
								th:href="@{/}"
								th:classappend="${param.category} == null ? 'active'"
								th:text="#{category.all}"
							>
								すべて
							</a>
						</li>
						<li th:each="category : ${categories}">
							<a class="dropdown-item"
								th:href="@{/(category=${category.id})}"
								th:classappend="${param.category} != null and ${param.category[0]} == ${category.id} ? 'active'"
								th:text="${category.name}"
							>
								カテゴリー名
							</a>
						</li>
					</ul>
				</div>

				<form method="get" th:action="@{/}" class="col-sm-auto">
					<input class="form-control"
						name="search"
						th:placeholder="#{search}"
						th:value="${param.search}"
					>
				</form>
			</div>
		</header>
	
		<div class="container my-4">
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
				<div th:each="post: ${posts}" class="col">
					<div class="card border-light">
						<a href="#"
							class="link-dark link-underline-opacity-0"
						>
							<img class="card-img-top"
								th:src="@{/images/logo.png}"
								alt="blog photos"
							>
							<h5 class="card-title mt-4" th:text="${post.title}">
								記事タイトル
							</h5>
						</a>
						<div class="card-body row">
							<a class="col-auto me-auto btn btn-outline-info btn-sm"
								th:href="@{/(category=${post.category.id})}"
								th:text="${post.category.name}"
							>
								カテゴリー名
							</a>
							<p class="col-auto card-text">
								<small class="text-body-secondary"
									th:text="${#temporals.format(post.postedAt, #locale)}"
								>投稿日時</small>
							</p>
						</div>
					</div>
				</div>
			</div>

			<div th:if="${page.totalPages} > 1">
				<nav th:replace="~{components/pagination::pagination}"></nav>
			</div>
		</div>

	</div>
</body>
</html>
