@charset "UTF-8";

footer li {
	list-style-type: none;
}

#login > section {
	max-width: 500px;
}

#register > section {
	max-width: 500px;
}

#post-create > section {
	max-width: 700px;
}

#post-edit {
	max-width: 700px;
}

#post-index > .mypost-list {
	overflow-x: auto;
}

.post-body {
	white-space: pre-wrap;
}

.comments .card-text {
	white-space: pre-wrap;
}
