<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<footer layout:fragment="footer" class="bg-primary text-white">
		<div class="py-4 container">
			<p class="fs-4 fw-bold">
				株式会社かたち
			</p>
		<ul class="mt-4 px-0">
			<li>〒550-0005</li>
			<li>大阪市西区西本町1-7-7 CE西本町ビル9階</li>
			<li>TEL: 06-6626-9983 / FAX: 06-6626-9984</li>
			<li>
				<a href="https://katachi-corp.jp" class="text-white">
					https://katachi-corp.jp
				</a>
			</li>
		</ul>
		</div>
	</footer>
</body>
</html>
